/* Whole file */
    html {
        font-family: 'Roboto', Helvetica;
    }

/* Header */
    .header {
        background-color: #263b4b;
        color: rgb(29, 30, 31);
        
    }

/* NavBar */
    .myName {
        display: block;
        color: rgb(0, 0, 0);
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        text-align: center;
        font-size: xx-large;
    }
    .navBar-Ulist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
    }
    .navBar-list {
        float: right;
    }
    .navBar-item {
        display: block;
        color: rgb(0, 0, 0);
        padding: 14px 16px;
        text-decoration: none;
        text-align: center;
        opacity: .5;
    }
    .navBar-item:hover {
        background-color: rgb(255, 255, 255);
        color: #000000;
    }
    #navBar-item-active {
        background-color: rgb(255, 255, 255);
        color: #000000;
        opacity: 1;
    }
    /* Opacity on hover */
    .navBar-Ulist:hover >.navBar-list {
        opacity: .5;
    }
    .navBar-Ulist:hover > .navBar-list:hover {
        opacity: 1;
    }

/*Header - Home*/
    .homeH {
        float: 1999px;
    }
/* Body */
    body {
        text-align: center;
        background: #ffffff;
        background-size: 400% 400%;
        color: rgb(49, 49, 49);
    }
    .facePic-Contain {
        margin: 20px 20px 0 0;
        overflow: auto;
    }
    .facePic {
        margin-left: 10%;
        float: left;
    }
    .facePic img {
        display: block;
    }
    .homeContent {
        margin-right: 200px;
    }
/* Footer CSS */
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
    }
    .footer-Ulist{
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
    }
    .footer-list {
        float: left;
    }
    .footer-item {
        display: block;
        color: rgb(0, 0, 0);
        padding: 5px 5px;
        float: center;
    }
        /* Hover on everything but opacity effect */
    .footer-Ulist:hover >.footer-list {
        opacity: .5;
    }
    .footer-Ulist:hover > .footer-list:hover {
        opacity: 1;
    }
