/*.navBar {
    
}*/
html {
    font-family: 'Roboto', Helvetica;
}
.header {
    background-color: gainsboro;
    padding: 10px;
}
.navBar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f3f3f3;
    text-align: center;
    height: 100%;
    overflow: auto;
    position: fixed;
}
.navBar-item {
    display: block;
    color: #666;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #e7e7e7;
}
.navBar-item:hover {
    background-color: rgb(59, 126, 172);
    color: white;
}
#navBar-item-active {
    background-color: rgb(59, 126, 172);
    color: white;
}
body {
    text-align: center;
}
