/* Whole file */
    html {
        font-family: 'Roboto', Helvetica;
        font-size: 14px;
    }


/* Header */
    .header {
        background-color: #263b4b;
        color: rgb(29, 30, 31);  
    }




/* NavBar */
    .nav {
        background-color: #ffffff;
        position: fixed;
        right: 0;
        bottom: 1;
        left: 0;
        top: 0;
        padding: .5rem;
        z-index: 1;
    }
    .myName {
        display: block;
        color: rgb(0, 0, 0);
        padding: 0px 16px;
        text-decoration: none;
        float: left;
        text-align: center;
        font-size: 250%;
        font-weight: 300;
        clear: both;
    }
    .navBar-Ulist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
        overflow: auto;
        width: 100%;
    }
    .navBar-list {
        float: right;
    }
    .navBar-item {
        display: block;
        color: rgb(0, 0, 0);
        padding: 14px 16px;
        text-decoration: none;
        text-align: center;
        opacity: .5;
        overflow: auto;
        cursor:pointer;
    }
    .navBar-item:hover {
        background-color: rgb(255, 255, 255);
        color: #000000;
    }
    #navBar-item-active {
        background-color: rgb(255, 255, 255);
        color: #000000;
        opacity: 1;
    }
    /* Opacity on hover */
    .navBar-Ulist:hover >.navBar-list {
        opacity: .5;
    }
    .navBar-Ulist:hover > .navBar-list:hover {
        opacity: 1;
    }



/* Body */
    body {
        background: #ffffff;
        color: rgb(49, 49, 49);
    }
    .blogBody {
        background: #f5f5f6;
    }
    .blog {
        position: relative;
        padding-top: 100px;
    }
    .blog:after {
        content: "";
        display: table;
        clear: both;
    }
    .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     margin-left: 25%;
     width: 50%;
    }
    bodyContent {
        position: relative;
        padding-top: 100px;
        width: 655px;
    }
    /* Face Image */
    .facePic {
        margin-right: 2.5%;
        margin-left: 23%;
        clear:both;
        float: left;
        position: relative;
        padding-top: 100px;
    }
    .homeContent {
        overflow:auto;
        display: block;
        text-align: left;
        position: relative;
        padding-top: 100px;
    }
    .links {
        text-decoration: none;
        color: rgb(49, 49, 49);
    }
    .links:hover {
        color: grey;
    }
    h1 {
        text-align: center;
        position: relative;
        padding-top: 100px;
    }
    .aboutContent {
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: left;
    }




/* Footer CSS */
    .footer {
        background-color: #ffffff;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .5rem;
        text-align: center;
        -moz-box-shadow: 0em 0em .3em 0em rgb(3, 102, 168);
        -webkit-box-shadow: 0em 0em .3em 0em rgb(3, 102, 168);
        box-shadow: 0em 0em .3em 0em rgb(3, 102, 168);
        z-index: 1;
    }
    .footer-Ulist{
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
    }
    .footer-list {
        float: left;
    }
    .footer-item {
        display: block;
        color: rgb(0, 0, 0);
        padding: 5px 5px;
        float: center;
    }
        /* Hover on everything but opacity effect */
    .footer-Ulist:hover >.footer-list {
        opacity: .5;
    }
    .footer-Ulist:hover > .footer-list:hover {
        opacity: 1;
    }
