.about-title {
  font-family: 'Roboto';
  margin: 10px auto;
}

.aboutContent {
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0 auto;
  padding: 30px;
  font-size: 14px;
  text-align: left;
  overflow: auto;
}