<div id="centerBox" >
  <div class="myGrid" id="homeGrid">
    <div id="styleBox">
      <h2>
        Home
      </h2>
      <p>
        Welcome to my home on the internet. This is the fourth iteration of my site. <br /> <br/>
        On this site you can find some information about myself and the projects I'm working on. <br />
      </p>
      <h2>
        About Me
      </h2>
      <p>
          I am software/computer enthusiast, and enjoy creating and using a wide variety of software. <br />
          Recently I have mainly been tinkering with web technologies. <br /> <br />
          In college I minored in Chinese and studied abroad in China. I study Chinese mainly as a hobby now. <br /> <br/>
          Links to some of my online accounts are at the bottom of the page. <br /> <br />
          Thanks for checking out my site! <br />
      </p>
    </div>
  </div>
</div>
