.myGrid {
  display: grid;
  grid-template-columns: repeat(1, 1000px);
  grid-gap: .5em;
  justify-content: center;
  align-items: center;
  background: white;
}

.module {
  text-align: center;
  background: none;
  font-weight: 300;
  margin: 10px;
}

.styleBox {
  background: none;
  margin: 1em;
  padding: 1em;
}

#link {
  text-decoration: none;
  opacity: .75;
  color: inherit;
}

#link:hover {
  opacity: 1;
  font-weight: 400;
}

#projectsGrid {
  background: white;
}

#centerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 100px;
}

h2 {
  font-weight: 400;
  cursor: default;
}

h4 {
  font-weight: 300;
  color: #011832;
}

h5 {
  font-weight: 300;
}

p {
  color: #011832;
}

#personalP {
  color: #2e9fea;
}

#auxCordP {
  color: #eb6133;
}

#lyroP {
  color: #8933eb;
}

@media only screen and (max-width: 1125px) {
  .myGrid {
    grid-template-columns: repeat(1, 500px);
  }
  #projectsGrid {
    padding: 45px;
    margin-bottom: 122px;
  }
}

@media only screen and (max-width: 550px) {
  .myGrid {
    grid-template-columns: repeat(1, 350px);
  }
  #projectsGrid {
    padding: 0;
    border: none;
  }
}