<div>
  <router-outlet></router-outlet>
  <div id="centerBox">
    <div class="myGrid" id="projectsGrid">
      <div *ngFor="let project of projects" class="module">
        <div class="styleBox" id={{project.cssId}} >
          <h2>
            {{project.name}}
          </h2>
          <h4>
            Created: {{project.date}} <br/>
            Updated: {{project.update}}
          </h4>
          <h5>
            <a href={{project.url}} target="_blank" id="link" >
              {{project.url}}
            </a>
          </h5>
          <p>
            {{project.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

