/* =========== Color palette   ================= 
|  Background: Grey-Purple (#2a2d3d)
|  Background: Black-Purple (#222431)
|
|  Font_Color: Light-Purple (#606587)
|  Font_Color: Dark-Purple (#444860)
|  Font_Color: Midnight-Green (#849570)
===============================================*/

.homeBody {
  background: #2a2d3d;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #606587;
  /*color: #444860;*/
}

.facePic {
  float: left;
  width: 100%;
  max-width: 150px;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  margin-top: 60px;
  margin-left: 20px;
}

.homeContent {
  font-family: 'Roboto';
  font-weight: 400;
  display: inline-block;
  margin: 0 auto;
  padding: 47px;
  font-size: 14px;
  text-align: left;
  overflow: auto;
}

#links {
  font-weight: bold;
  text-decoration: none;
  color: #5c6f9e;
}

#links:hover {
  color: #849570;
}

.center {
  overflow: hidden;
  padding-top: 150px;
  display: block;
  margin: 0 auto;
}

.center2 {
  width: 720px;
  overflow: hidden;
  text-align: center;
  display: block;
  margin: auto;
  background: #222431;
  border: #333544;
  border-style: solid;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .facePic {
    padding: 20px;
    float: none;
  }
  
  .homeContent {
    display: block;
    width: 200px;
  }
  .center {
    overflow: auto;
  }

  .center2 {
    overflow: auto;
    width: auto;
  }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .facePic {
    padding: 20px;
    float: none;
  }
  
  .homeContent {
    width: 200px;
  }
  .center {
    overflow: auto;
  }

  .center2 {
    overflow: auto;
    width: auto;
  }
}