.lyroBody {
  z-index: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #799ce0;/* Nice Color from digital ocean*/
}

.myGrid {
  display: grid;
  grid-template-columns: 1, 1250px;
  grid-gap: .5em;
  justify-content: center;
  align-items: center;
  background: white;
}

#styleBox {
  background: none;
  margin: 1em;
  padding: 1em;
}

h2 {
  font-weight: 400;
}

p {
  font-weight: 300;
  font-size: 15px;
}

#centerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 100px;
}

#linkStyle {
  text-decoration: none;
  opacity: .75;
  color: #8933eb;
}

#linkStyle:hover {
  opacity: 1;
}

@media only screen and (max-width: 1125px) {
  .myGrid {
    grid-template-columns: repeat(1, 500px);
  }
  #lyroGrid {
    padding: 45px;
    margin-bottom: 122px;
  }
}

@media only screen and (max-width: 550px) {
  .myGrid {
    grid-template-columns: repeat(1, 400px);
  }
  #lyroGrid {
    padding: 0;
  }
}