a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
  padding-right: 16px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

li {
  float: left;
}

a:hover {
  color: rgb(88, 178, 214);
}