<div class="myGrid">
  <h1 class="myName">
    <a id="linkMyName" routerLink="/">
      {{myName}}
    </a>
  </h1>
  <div class="navBar">
    <div *ngFor="let link of links" class="navItem">
      <a href={{link.url}} id={{link.cssId}} routerLink={{link.route}}>
        {{link.text}}
      </a>
    </div>
    <div class="navItem">
      <a id="linkStyle">
        中文/Zh
      </a>
    </div>
  </div>
</div>


<div class="navBar" id="socialBar">
  <div *ngFor="let social of socials" class="navItem">
    <a href={{social.url}} id={{social.cssId}} target="_blank">
      {{social.text}}
    </a>
  </div>
</div>