/* You can add global styles to this file, and also import other style files */
html {
  background: #f3f5f9;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Roboto', Helvetica;
  color: #011832;
  margin: 0;
}

body {
  min-height: (100% - 100px);
  margin-bottom: 100px;
  clear: both;
  margin: 0;
}
