.topbarList {
  position: fixed;
  top: 47px;
  right: 0;
  left: 0;
  background: #222431;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}

.topbarLink {
  padding: 14px 16px;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Roboto';
  color: #849570;
}

#linkStyle {
  opacity: .75;
  font-weight: 400;
  color: #849570;
  display: block;
  text-decoration: none;
}

.topbarList:hover>.topbarLink {
  opacity: .5;
}

.topbarList:hover>.topbarLink:hover {
  opacity: 1;
}